<!DOCTYPE html>
<html>
<head>
	<title>Home</title>
	<link rel="stylesheet" type="text/css" href="css/home.css">
	<link href="https://fonts.googleapis.com/css?family=Comfortaa:600&display=swap" rel="stylesheet">
</head>
<body>
<script src="js/particles.js"></script>
<script src="js/home.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<ul class="navbar">
  <li class="navbar"><a class="active" href="index">Welcome</a></li>
  <li class="navbar"><a href="home">Home</a></li>
  <li class="navbar"><a href="#contact">Contact</a></li>
</ul>
<header> User Page </header>
<div class="tariff">
		<label>Earned from Selling Power : ₹</label>
		<input class="earned" type="number" name="earned" placeholder="Amount">
		<br><br><br>
		<label>Tariff: ₹</label>
		<input class="tariffpay" type="number" name="tariffpay" placeholder="Amount">
		<div class="buysell">
		<div>
			<p> Do you want to sell the power? </p>
			<button class="button button5">Yes</button>
			<button class="button button5">No</button>
		</div>
		<div>
			<p> Do you want to buy power? </p>
			<button class="button button5">Yes</button>
			<button class="button button5">No</button>
		</div>
		</div>
</div>
<div class="article"> 
	<div class="putil">
		<label>Power Utlised</label>
		<input class="powerutil" type="number" name="powerutilised">
	</div>
	<div class="pgen">
		<label>Power Generated</label>
		<!-- <input class="powergen" type="number" name="powergenerated"> -->
		<!-- <a href="/load-data">Load Value</a> -->
		<h4> <%= rol.power %> </h4>
	</div>
	<br>
	<br>
	<div class="prem">
		<label>Power Remaining</label>
		<input class="powerrem" type="number" name="powerremaining">
	</div>
	

</div>

	<h2 class="app">Appliances</h2>
<div id="device" class="applist">
  <div class="container">
  	<div class="item hd"><label>Appliance Name</label>
			</div>
  	<div class="item hd"><label>Load</label>
 
  	</div>
  	<div class="item"><label>AC</label>
  	<label class="switch">
				  <input type="checkbox">
				  <span class="slider round"></span>
				</label></div>
  	<div class="item"><label>100</label></div>
  	<div class="item"><label style="margin-left: -5.5em;">Electric Vehicle</label>
  	<label class="switch">
				  <input type="checkbox">
				  <span class="slider round"></span>
				</label></div>
  	<div class="item"><label>200</label></div>
  	<div class="item"><label style="margin-left: -5.5em;">Washing Machine</label>
  	<label class="switch">
				  <input type="checkbox">
				  <span class="slider round"></span>
				</label></div>
  	<div class="item"><label>300</label></div>
  	<div class="item"><label>Pump</label>
  	<label class="switch">
				  <input type="checkbox">
				  <span class="slider round"></span>
				</label></div>
  	<div class="item"><label>600</label></div>
  </div>
</div>

</body>
</html>

<!--No post or get req n file ..... t  wll not respond...   i use post in server.js file and using ejs im getting the valye... its wroking for hard coded value.-->