<!DOCTYPE html>
<html>
<head>
	<title>Power Management</title>
	<link rel="stylesheet" type="text/css" href="/css/index.css">
	<link rel="stylesheet" href="https://unpkg.com/tachyons@4.10.0/css/tachyons.min.css"/>
	<link href="https://fonts.googleapis.com/css?family=Comfortaa:600&display=swap" rel="stylesheet">
</head>
<body>
	<div id="particles-js"></div>
	<script src="js/particles.js"></script>
	<script src="js/app.js"></script>
	<ul>
  <li><a class="active" href="index">Welcome</a></li>
  <li><a href="home">Home</a></li>
  <li><a href="contact.html">Contact</a></li>
</ul>
	<div class="welcome">
		<h1> Welcome </h1>
		<p> An App to manage your Power Efficiently </p>
		<p> Happy Saving! </p>
		<button class="button5"><a href="login" class="loginb">Login</a></button>
	</div>
</body>
</html>